/***
  Custom styles (classes, ids...) per page
***/

/* Landing page */
.landing {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.logo {
  border-radius: 5%;
  border: 2px solid black;
  width: 50%;
  height: auto;
  padding: 1.5rem;
  background-color: hsl(30, 90%, 90%);
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ff2727aa);
}
.subtitle {
  font-size: 1.1rem;
  /* color: #444; */
}
#landing-btn {
  margin-top: 2rem;
  button {
    font-weight: 700;
    color: hsl(240, 60%, 55%);
    background-color: hsl(30, 90%, 90%);
  }
  button:hover {
    border-color: hsl(350, 100%, 30%);
    color: hsl(350, 100%, 30%);
  }
}

/* About page */

/* News page */

.posts-titles {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  color: #495762;
  line-height: 1.7;
}
.post-subtitles {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 2.5px;
  margin-bottom: 15px;
  color: #969696;
  text-transform: uppercase;
  /* clear: both; */
}

/* Personnel page */

/* Artists page */
hr {
  display:flex;
  justify-content: center;
  border: 1px solid darkgrey;
  background: #D3D3D3;
  height: 1px;
  margin: 20px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
/*  sidebar */

.sidebar{
  text-align:center;
}
/*   COVID blurb   */
.covid {
  background-color: rgb(76, 73, 73);
  border: 4px solid lightgray;
  margin-top: 30px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;}


/* Contact page */
