/***
  Universal Rules and App layout
***/

/* App (makes space at top for fixed header) */
.app {
  width: 100%;
  /* min-width: 40rem; */
  /* height: 100%; */
  min-height: 100%;
  background: linear-gradient(hsl(215, 45%, 20%), hsl(215, 60%, 40%));
  padding-top: 2.25rem;
  display: flex;
  flex-direction: column;
}


/* Header (navigation) */
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid hsl(214, 90%, 93%); */
  z-index: 100;
  background-color: hsl(214, 90%, 80%);
  .logo-icon {
    margin-left: 2rem;
    max-width: 2.5rem;
    background-color: hsl(215, 90%, 95%);
  }

  nav {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & a:link {
      color: black;
      /* font-weight: 700; */
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    & a:visited {
      color: hsl(215, 45%, 30%);
    }
    & a:hover {
      color: hsl(215, 60%, 40%);
    }
    & a:active {
      color: hsl(215, 50%, 55%);
    }

    & ul {
      width: 100%;
      display: flex;
      justify-content: space-around;
      & li {
        font-size: 1.5rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
main {
  min-height: 100%;
  /* width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1; */
}

/*
Apply CSS Grid here, within .grid-wrapper div (.sidebar and .content) as layout within main tag
*/
.grid-wrapper {
  display: grid;
  width: 100%;
  min-height: 100%;
  grid-template-areas:
    'side content content content'
    'side content content content'
    'side content content content';
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.grid-wrapper > .sidebar {
  grid-area: side;
  padding: 2rem 1rem;
  /* background-color: #ffa08c; */
}

.grid-wrapper > .content {
  grid-area: content;
  /* padding: 2rem 2rem; */
  border-left: 2px double hsl(215, 50%, 55%); /* style this border of the grid, itself, instead! */
  /* background-color: #ffff64; */
  /* height: 100%; */
  /* flex: 1; */
}

footer {
  position: sticky;
  top: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 3px double hsl(215, 50%, 55%);
  /* background-color: hsl(214, 90%, 95%); */
  font-size: 0.8rem;
  font-weight: 500;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  & p {
    margin: 0;
    line-height: 1.25;
  }
}

/* Heading and paragraph rules */
h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-top: 1.2rem;
  text-align: center;
}

h2 {
  font-size: 1.75rem;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  /* color: #495762; */
  line-height: 1.7;
  margin-top: 1.5rem;
  text-align: center;
}

p {
  margin-top: 1rem;
}
/* Links and buttons */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
  & :hover {
    color: #535bf2;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  width: max-content;
  /* padding: 0.5em 1.2em; */
  padding: 1.2% 8.5%;
  margin-top: 15%;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: black;
  background-color: hsl(215, 90%, 95%);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  border-radius: 8px;
}

button:hover {
  border-color: hsl(220, 100%, 70%);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
